
  <!--
    Your HTML content here
  -->

  <mat-sidenav md-component-id="left" class="md-sidenav-left">
    <mat-menu>
      <button mat-button>Home</button>
    </mat-menu>
  </mat-sidenav>
  <div class="main-content">
    <div class="hero">
<!--       <md-button class="main-menu md-primary" ng-click="mainVm.openLeftMenu()">
        <md-icon>menu</md-icon>
      </md-button> -->
      <div class="hero-wrapper" layout="row" layout-align="center center">
        <div layout="column">
          <h1 class="md-display-3">Bill Gates</h1>
        </div>
      </div>
    </div>
    <div class="section slanted">
      <div class="section-wrapper" layout="row" layout-align="center center">
        <div layout="column">
          <div class="quote-block md-headline">
            <mat-icon class="rotate-180">format_quote</mat-icon>
            I believe that if you show people the problems and you show them the solutions they will be moved to act.
            <mat-icon>format_quote</mat-icon>
          </div>
        </div>
      </div>
      <div class="section-wrapper no-padding-top" layout="row" layout-align="center center">
        <div class="history">
          <h2 class="md-title">TIMELINE<div class="border-shadow"></div></h2>
          <mat-grid-list class="history-grid" md-cols-gt-md="8" md-cols-md="8" md-cols-sm="6" md-cols-xs="4" cols="4" rowHeight="1:1" md-gutter="8px">
            <mat-grid-tile ng-repeat="let tile in tiles" md-colspan="2" md-rowspan="2" ng-style="{'background-image': 'url('+tile.image+')'}">

              <div class="tile-contents" layout="column" layout-align="center center">
                <h2>{{tile.year}}</h2>
                <div class="md-body-2 tile-cover" layout="column" layout-align="center center">
                  <h2>{{tile.year}}</h2>
                  <div>{{tile.title}}</div>
                </div>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
    <div class="section image-window">

    </div>
    <div class="section footer">
      <div class="section-wrapper" layout="row" layout-align="start center">
        <div layout="column">
          <div layout="row" layout-align="start center">
            <div class="profile-image-border">
              <div class="profile-image" src="https://pbs.twimg.com/profile_images/558109954561679360/j1f9DiJi.jpeg"></div>
            </div>
            <div class="md-headline">Want to know more about Bill Gates? Feel free to check out <a href="https://www.gatesnotes.com/Bio" target="_blank">www.gatesnotes.com</a> </div>
          </div>
        </div>
      </div>
      <div class="author md-body-2" layout-align="center center">
        Made with
        <mat-icon>favorite</mat-icon> by Young Park
      </div>
    </div>
  </div>